<h1 style="text-align: center; font-weight: bold;">Module-02</h1>
<h3 style="text-align: center;">Data Bias</h3>
<h3 style="text-align: center;">DATA-6550</h3>

<h4 style="text-align: center; line-height: 1.5;">By<br><b>Richard Hoehn</b></h4>

<hr style="height:10px; border:0px; background: linear-gradient(to right, white, blue, white); margin:50px;">

# Import Libraries & Setup Constants

In [5]:
# Imports of main Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

# Date & Time Parsing
import datetime as dt

# Handle Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

#style options
%matplotlib inline

# Main Settings for Panda Display & Plotting Colors
pd.set_option('display.max_columns', 500) # Allows for up to 500 columns to be displayed when viewing a dataframe
plt.style.use('seaborn-v0_8') # A style that can be used for plots

# Constants
DEV_SIZE  = 1 # Development Size of Dataset
RND       = 42  # Randome Init
TEST_SIZE = 0.3 # Size of Training Data Used
STARS     = 50  # Sapcer for comments

In [7]:
#---------------------------------------------------------
#--- Date Loading into Single Dataframe
#---------------------------------------------------------

# 01 - Import
print("Importing Data")
data = pd.read_csv('data/adult.csv')

# 02 - Display Row Count
print(f"UCI Adult Data => {data.shape[0]:,.0f} Rows")

# 03 - Show DataFrame
display(data.head(10))

Importing Data
UCI Adult Data => 32,561 Rows

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K